<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903049174955-mq9vm0o52tgvjio2k38a53ont1kl3qik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903049174955-mq9vm0o52tgvjio2k38a53ont1kl3qik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903049174955-k3c3o09l2icsrakcb5ad9t1udfhtgee1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcGe26fD1uzliZF64VLce9i21UOFfUBJI</string>
	<key>GCM_SENDER_ID</key>
	<string>903049174955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreApp</string>
	<key>PROJECT_ID</key>
	<string>score-app-b4eba</string>
	<key>STORAGE_BUCKET</key>
	<string>score-app-b4eba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903049174955:ios:1608e8ec80308fd27b7cee</string>
</dict>
</plist>